 <div class="appBottomMenu">
        <a href="/" class="item active">
            <div class="col">
                <ion-icon name="pie-chart-outline"></ion-icon>
                <strong>Home</strong>
            </div>
        </a>
        <a href="/trade" class="item">
            <div class="col">
                <ion-icon name="document-text-outline"></ion-icon>
                <strong>Trade</strong>
            </div>
        </a>
        <a href="/transactions" class="item">
            <div class="col">
                <ion-icon name="document-text-outline"></ion-icon>
                <strong>Transactions</strong>
            </div>
        </a>
        <a href="/portfolios" class="item">
            <div class="col">
                <ion-icon name="apps-outline"></ion-icon>
                <strong>Portfolio</strong>
            </div>
        </a> 
        <a href="app-settings.html" class="item">
            <div class="col">
                <ion-icon name="settings-outline"></ion-icon>
                <strong>Settings</strong>
            </div>
        </a>
    </div>